<main class="container background-color">
    <section class="center-element info">
        <h2>Chi siamo e perchè sceglierci:</h2>
        <div class="col-md-6">
            <p>Siamo un'azienda specializzata in muratura, giardinaggio, idraulica ed elettricità. Con oltre 30 anni di esperienza nel settore, offriamo servizi di alta qualità per soddisfare tutte le esigenze dei nostri clienti, sia residenziali che commerciali.</p>
            <p>Il nostro team è composto da professionisti qualificati e dedicati, che lavorano con passione e attenzione ai dettagli per garantire risultati eccellenti in ogni progetto.</p>
            <p>Ci impegniamo a utilizzare le migliori tecniche e materiali disponibili sul mercato, assicurando efficienza, sicurezza e durata nel tempo per tutti i nostri lavori.</p>
            <p>La nostra missione è rendere il mondo più bello, ridando vita a ciò che ha perso bellezza nel tempo. Lavoriamo per fornire soluzioni complete e personalizzate, costruendo rapporti di fiducia con i nostri clienti e contribuendo al miglioramento del loro ambiente abitativo e lavorativo.</p>
            <p>Contattaci per scoprire come possiamo aiutarti a realizzare i tuoi progetti.</p>
        </div>
    </section>
</main>
