<main class="container background-color">        
    <section style="background-color: rgba(37, 37, 37, 0.932); border-radius: 10px; padding: 5px; margin-left: 40px; margin-right: 40px;" >
        <h2 style="text-align: center; color: white;">Dalla fontamenta alla manutenzione, offriamo risultati che durano nel tempo.</h2>
        <h2 style="text-align: center; color: white;"><a href="contattaci">Contattaci</a> per avere maggiori informazioni o semplicemente per fissare un appuntamento.</h2>
    </section>
</main>
<app-privacy-popup *ngIf="isVisited || haveNewPolicyVersion" [policyVersion]="currentVersion"></app-privacy-popup>