<main class="container">
    <section class="info">
        <h2>Informazioni di contatto:</h2>
        <ul>
            <li><strong>Telefono n°1:</strong> <a href="tel:+393894497000"> +39 389 449 7000</a></li>
            <li><strong>Telefono n°2:</strong> <a href="tel:+393519426891"> +39 351 942 6891</a></li>
            <li><strong>Email:</strong> <a href="mailto:bepintuscostruzioni@outlook.it"> bepintuscostruzioni&#64;outlook.it</a>
            <li><strong>PEC:</strong> <a href="mailto:bepintus@pec.it"> bepintus&#64;pec.it</a>
            <li><strong>Indirizzo:</strong> Maracalagonis (CA) Loc. Cireddu - 09069, SNC.</li> 
            <li><strong>Orari di apertura:</strong> Lun-Sab: 6:30-21:30</li>
        </ul>
        <div>
            <strong><a href="https://maps.app.goo.gl/yy2rjkSvxC38VeMx6">Visualizza</a> su quale territorio lavoriamo.</strong> 
            <br/>
        </div>
    </section>
</main>